@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
:root {
  --text-color: #fff;
  --grey: #f5f5f5;
  --border: 10px;
  --royal-blue: #0d5f9a;
  --font: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
.dashUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: overlay;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--grey);
  padding: 5px;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: var(--border);
}
.user > img {
  border-radius: 50%;
}
.login-side {
  height: 100vh;
  width: 30rem;
  background-color: var(--royal-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 3rem;
}
.topbar-container {
  width: 80rem;
  margin: 20px;
}
.dashboard,
.topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pie-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topbar > .search {
  display: flex;
  align-items: center;
}
.dashboard {
  background-color: var(--grey);
}
.meeting {
  border-left-style: solid;
  border-left-color: coral;
  margin-left: 20px;
  margin-top: 20px;
}
.meeting > h5 {
  margin: 5px;
  margin-left: 10px;
}
.sidebar {
  height: 90vh;
  width: 15rem;
  margin: 30px;
  border-radius: var(--border);
  background-color: var(--royal-blue);
  display: flex;
  text-align: center;
  flex-direction: column;
  color: var(--text-color);
}
.sidebar > span > p {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.sidebar > span > p:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.login-form {
  width: 60rem;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--grey);
  height: 100vh;
}
.login-form > h1 {
  margin: 0px;
  margin-left: -15rem;
}
.signup > h1 {
  margin: 0px;
  margin-left: -5rem;
}

.login-form > .sign-in {
  margin-left: -10rem;
}
.signup > .sign-in {
  margin-left: -5rem;
}

.login-form > .register {
  font-size: 13px;
  color: #333;
  margin: 0px;
}
.login-form > span {
  margin: 0px;
  margin-left: -6rem;
}
.login-form > span > button {
  background-color: var(--text-color);
  padding: 5px;
  border: 1px solid var(--royal-blue);
  margin: 5px;
  border-radius: var(--border);
}
.form {
  display: flex;
  text-align: start;
  flex-direction: column;
  background-color: var(--text-color);
  padding: 20px;
  margin: 20px;
  border-radius: var(--border);
}
.form-sub {
  display: flex;
  text-align: start;
  flex-direction: row;
  background-color: var(--text-color);
  border-radius: var(--border);
}
.form > label,
.form-sub > label {
  font-weight: 500;
  margin-top: 10px;
}
.form-sub > .form {
  padding: 0px;
  margin: 0px;
}
.form-sub > .form > input {
  width: 9rem;
  margin-right: 15px;
}
.form > input {
  width: 20rem;
  background-color: var(--grey);
  border: none;
  height: 30px;
  margin-top: 10px;
  border-radius: var(--border);
}
.topbar > .search > input,
.user-search > input {
  width: 10rem;
  background-color: var(--text-color);
  border: none;
  height: 30px;
  margin-right: 10px;
  border-radius: var(--border);
  outline: none;
}
.user-search > input {
  background-color: var(--grey);
}
.user-search > select {
  border: 1x solid var(--grey);
  background-color: var(--grey);
  border-radius: var(--border);
  width: 4rem;
  height: 2rem;
}
.user-search > button {
  background-color: var(--royal-blue);
  border: none;
  width: 4rem;
  height: 2rem;
  color: var(--text-color);
  border-radius: var(--border);
  margin-left: 10px;
}

.form > input::placeholder {
  padding-left: 10px;
}

.link-class {
  color: var(--text-color);
  text-decoration: none;
}
.loader {
  position: absolute;
  top: 5%;
  left: 40%;
  padding: 1rem;
  width: auto;
  color: var(--text-color);
}
.form > button {
  margin-top: 20px;
  height: 2rem;
  background-color: var(--royal-blue);
  border: none;
  color: var(--text-color);
  font-family: var(--font);
  border-radius: var(--border);
}
.form > a {
  font-size: 13px;
  margin-top: 10px;
  color: var(--royal-blue);
  cursor: pointer;
}
.login,
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex {
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card > h3 {
  margin: 0px;
  margin-top: 10px;
}
.card > p {
  margin: 0px;
  margin-top: 5px;
  font-size: smaller;
}
.card > img {
  position: relative;
  left: 90%;
}

.card {
  height: 100px;
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: var(--border);
}

.chart > h3,
.chart > p,
.chart > span > h3,
.chart-settings > p,
.flex > p {
  margin-left: 20px;
}
.chart > span,
.chart > span > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.chart > span > span {
  margin-right: 20px;
}
.chart,
.chart-settings {
  background-color: var(--text-color);
  border-radius: var(--border);
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.chart-settings {
  width: 23rem;
  margin-left: 1rem;
  padding-bottom: 20px;
}
.flex > label {
  margin-right: 20px;
}
.piechart {
  background-color: var(--text-color);
  border-radius: var(--border);
  width: 35vw;

  margin-top: 20px;
  margin-bottom: 20px;
}
.piechart > h3 {
  margin-left: 15px;
}
.legend {
  position: relative;
  top: 5%;
  left: 90%;
}
.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-settings {
  width: 33rem;
}
.form-settings > input {
  width: auto;
}
.flex > button {
  border: 1px solid red;
  background-color: var(--text-color);
  color: red;
  margin-left: 5em;
  width: 15rem;
  padding: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.burger-icon{
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  top: 1px;
  height: 18px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #88e15e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #88e15e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.close{
  display: none;
}
.sidebar-bottom{
  bottom: 5%;
}

@media only screen and (max-width: 600px) {
  .login-side {
    display: none;
  }
 .close{
   display: flex;
   position: absolute;
   top:7%;
   right:20%
 }
  body {
    background-color: var(--grey);
  }
  .sidebar {
    display: none;
  }
  .form-settings {
    width: auto;
  }
  .form-settings-2 {
    flex-direction: column;
  }
  .settings {
    flex-direction: column;
  }
  
  .account,
  .account > input {
    width: auto;
  }
  .chart-settings {
    width: auto;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card {
    width: 6rem;
  }
  .pie-user {
    flex-direction: column;
  }
  .piechart {
    width: auto;
  }
  .topbar > .search {
    display: none;
  }
  .burger-icon{
    display: flex;
    align-items: center;
  }
  .user {
    font-size: smaller;
  }
}
