@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --text-color: #fff;
  --grey: #f5f5f5;
  --border: 10px;
  --royal-blue: #0d5f9a;
  --font: "Montserrat", sans-serif;
}
.dashUI{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-side {
  height: 100vh;
  width: 30rem;
  background-color: var(--royal-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 3rem;
}
.topbar-container{
  width: 80rem;
  margin: 20px
}
.dashboard, .topbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topbar > span{
  display: flex;
  align-items: center;
}
.dashboard{
  background-color: var(--grey);
}
.sidebar{
  height: 90vh;
  width: 15rem;
  margin:30px;
  border-radius: var(--border);
  background-color: var(--royal-blue);
  display: flex;
  text-align: center;
  flex-direction: column;
  color: var(--text-color);
 
}
.sidebar > span > p{
  padding:10px;
  margin: 10px;
  cursor: pointer;
}
.sidebar > span > p:hover{
 
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.login-form {
  width: 60rem;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--grey);
  height: 100vh;
}
.login-form > h1 {
  margin: 0px;
  margin-left: -15rem;
}
.signup > h1 {
  margin: 0px;
  margin-left: -5rem;
}

.login-form > .sign-in {
  margin-left: -10rem;
}
.signup > .sign-in {
  margin-left: -5rem;
}

.login-form > .register {
  font-size: 13px;
  color: #333;
  margin: 0px;
}
.login-form > span {
  margin: 0px;
  margin-left: -6rem;
}
.login-form > span > button {
  background-color: var(--text-color);
  padding: 5px;
  border: 1px solid var(--royal-blue);
  margin: 5px;
  border-radius: var(--border);
}
.form {
  display: flex;
  text-align: start;
  flex-direction: column;
  background-color: var(--text-color);
  padding: 20px;
  margin: 20px;
  border-radius: var(--border);
}
.form-sub {
  display: flex;
  text-align: start;
  flex-direction: row;
  background-color: var(--text-color);
  border-radius: var(--border);
}
.form > label,
.form-sub > label {
  font-weight: 500;
  margin-top: 10px;
}
.form-sub > .form {
  padding: 0px;
  margin: 0px;
}
.form-sub > .form > input {
  width: 9rem;
  margin-right: 15px;
}
.form > input {
  width: 20rem;
  background-color: var(--grey);
  border: none;
  height: 30px;
  margin-top: 10px;
  border-radius: var(--border);
}
.topbar > span > input {
  width: 10rem;
  background-color: var(--text-color);
  border: none;
  height: 30px;
  margin-right: 10px;
  border-radius: var(--border);
  outline: none;
}
.form > input::placeholder {
  padding-left: 10px;
}

.link-class{
  color: var(--text-color);
  text-decoration: none;
}
.loader{
  position: absolute;
  top:5%;
  left: 40%;
  padding: 1rem;
  width: auto;
  color: var(--text-color);
}
.form > button {
  margin-top: 20px;
  height: 2rem;
  background-color: var(--royal-blue);
  border: none;
  color: var(--text-color);
  font-family: var(--font);
  border-radius: var(--border);
}
.form > a {
  font-size: 13px;
  margin-top: 10px;
  color: var(--royal-blue);
  cursor: pointer;
}
.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card > h3{
  margin: 0px;
  margin-top:5px;
}
.card > p{
  
  margin: 0px;
  margin-top:5px;
  font-size: smaller;
}
.card >img{
  position: relative;
  left: 90%;
}

.card{
  height: 100px;
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: var(--border);

}
.chart > h3, .chart > p{
  margin-left: 20px;
}
.chart{
  background-color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 20px;
}
.legend{
  position: relative;
  top: 5%;
  left: 90%
}

@media only screen and (max-width: 600px) {
  .login-side{
    display: none;
  }
  body{
    background-color: var(--grey);
  }
}